$themeColorDark: #222;
$themeColorLight: white;
$themeColorAccent: crimson;

$personalBg: url('https://png.pngtree.com/background/20230617/original/pngtree-low-poly-abstract-network-communication-background-in-3d-render-picture-image_3682642.jpg')